/* #Silver Flat Button
==================================================*/
.button {
  margin: 2px;
}
.button:active {
/*  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; */
}